<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="contenedorLogo-searchbar">
            <div class="divLogo">
                <a href="/home"><img class="logoprincipal" src="/img/images/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="searchbar">
                <input type="text" placeholder="Buscar productos, marcas y más..."> 
                <div class="divLupa">
                    <button class="lupa">
                        <!-- Lupa -->
                        <i class='fas fa-search'></i>
                    </button>
                </div>
            </div>
            <div class="divCompraCuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>

        <br>
        
        <!-- NavBar -->
            <nav class="navbar">
                <ul type="none" class="lista1">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul type="none" class="lista2">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        
           
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
        <img class="imagen2" src="/img/images/img-home-banner.jpg" alt="">
    </header>
    <main>

        <!-- Sección Basado en tu última visita -->
        <div>
            <h3 class="ultimaVisita">Basado en tu última visita</h3>
        </div>
        <section class="section1">
            <br>
            
            <article class="articuloMargen">
                <div class="boxshadow">
                <img class="Cafetera" src="/img/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </div>
            </article>

            <article class="articuloMargen">
                <div class="boxshadow"> 
                <img src="/img/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </div>

            </article>

            <article class="articuloMargen">
                <div class="boxshadow">
                <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </div>    
            </article>

            <article>
                <div class="boxshadow"> 
                <img src="/img/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                        </div>
                </div>
            </article>
        </section>

        <!--Sección Ofertas-->

        <div>
            <h3 class="ofertas">Ofertas</h3>
        </div>
        <section class="section2">
            <article class="articuloMargen">
                <div class="boxshadow"> 
                <img src="/img/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </div>
            </article>

            <article class="articuloMargen">
                <div class="boxshadow"> 
                <img src="/img/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </div>
            </article>

            <article class="articuloMargen">
                <div class="boxshadow"> 
                <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </div>
            </article>

            <article>
                <div class="boxshadow"> 
                <img src="/img/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="subdiv">
                        <div class="divEnvio"><i class="fa-solid fa-truck"></i></div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <br>
        <br>
        <br>
        <div class="divSeccionesFooter">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="paga">Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </section>
    
            <section>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </section>
    
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                    protegid@.</p>
            </section>
        </div>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>
